@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font family
--------------------
  font-family: "Montserrat", system-ui;
   font-family: "Montagu Slab", system-ui;
   */
   /* Variables css ----------*/
   :root{
    --header-height:3.5rem;
    --body-font:: "Montserrat", system-ui;
    --second-font:"Montagu Slab", system-ui;
    --font-regular:400;
    --font-medium:500;
    --font-semi-bold:600;
   }
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
body,input,button{
    font-size: var(--body-font);
    font-size: 1rem;

}
body{
    background-color: rgb(255, 255, 255);
    
    transition:background-color .4s;
}
input, button{
    border:none;
    outline:none;

}
h1,h2,h3,h4{
    
    font-family: var(--second-font);
    font-weight:var(--font-medium);
}
ul{
    list-style:none;

}
a{
    text-decoration: none;

}
a {
    background-image: linear-gradient(
      to right,
      #7c33cf,
      #327f9b 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before {
    content: '';
    background: #8254d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before {
    width:100%;
  }

.nav__container{
    max-width: 100%;
    margin-inline:1.5rem;
}
.grid{
    display: grid;
    gap:1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}

.section__title{
    text-align:center;
    font-size:1.5rem;
    font-family: var(--second-font);
    margin-bottom:2rem;
}
.main{
    overflow: hidden;
}
/* HEADER AND NAV SECTION *------------*/
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white ;
    z-index: 5;
    transition: box-shadow .4s, background-color .4s;
    padding:10px;
}

.nav__container{
    height:1.5;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color:rgb(46, 109, 109);
    font-weight: var(--font-medium);

}
.nav__logo i{
    font-size: 1.25rem;

}
.nav__link span{
    color:black;
    font-size: 1rem;
}
/* navigation mobile ------------*/
@media  screen and (max-width:1150px) {
    .nav__menu{
        position: fixed;
        bottom: 0;
        left: 0;
        right:0;
        width:100;
        background-color: rgba(34, 34, 34, 0.164);
        box-shadow: 0 -8px 32px hsla(0, 0%, 88%, 0.1);
        padding:1.25rem 4rem;
        transition: background-color .4s;

    }
   
}


.nav__list{
    display: flex;
   
    justify-content: space-evenly;
}

img{
  
    max-width: 80%;
    height:80%;
    
}
.nav__link span{
    display: none;

}
.nav__link i{
    font-size: 1.3rem;
    color:rgba(24, 23, 23, 0.541);
}
.nav__link:hover{
    color:blue;
}
.nav__actions{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav__actions i{
    font-size:1.25rem;
    color:rgb(0, 0, 0);
    cursor: pointer;
}
.nav__actions i:hover{
    color:navy;

}


/* SEARCH */
.search{
    position:fixed;
    top:-100%;
    left:0;
    width:100%;
    height:100%;
    z-index: 100;
    background-color: #f0f0f0;
    backdrop-filter: blur(16px);
    padding:8rem 1.5rem;
    transition: top .4s;

}
.search__form{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    border: 1px solid black;
    padding:5px;
    color:black;
}
.search__icon{
    font-size: 1.25rem;

}
.search__input{
    width:100%;
    padding-block:1rem;
    background-color: transparent;
}

.search__close{
    position: absolute;
    top:2rem;
    right:2rem;
    font-size:2rem;
    color:black;
    cursor:pointer;

}
/* show search ----------*/
.main{
    width:80%;
    
    margin:0 auto;
}
.show-search{
    top:0;

}
/* home---------- */
.home__swipper{
    margin:initial;
}
.home__container{
    padding-top:2rem;
    row-gap:2.5rem;
    
}
.home__data{
    text-align: center;
}
.home__title{
    font-size:1.5rem;
    margin-bottom:1rem;

}
.home__description{
    margin-bottom:2rem;
    color:rgba(13, 13, 77, 0.76);
    text-align: justify;
    font-size: 14px;
    
}
.home__images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:0 auto;
    margin-top:55px;
}
.home__article,
.home__img{
    
    transition: all .4s ease-in;

}
.home__article{
    scale:.8;
}
.swiper-slide-active,
.swiper-slide-duplicate-active{
    scale:1;
}

.button{
    display: inline-block;
    background-color: black;
    color:white;
    font-weight: 400;
    padding:1rem 1.5rem;
    transition: box-shadow .4s ease;
    width:250px;
    height:55px;
    margin: 0 auto;
    margin-block:10px;
    text-align: center;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.795);
    color:white;
}
.home__article img{
   box-shadow: 10px 10px 25px rgb(14, 13, 13);
}
.home__article{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  screen and (min-width:1150px){
    #home-section{
      
        display: flex;
        justify-content: space-between;
        align-items: center ;
        transition: all .4s ease;
    }
.home__data h1{
    font-size: 2rem;
    transition: all .4s ease;

}
.nav__menu{
    width:50%;
}
.nav__link{
    display: flex;
    justify-content:flex-end;
    align-items: center;
   padding:10px;
    width:100%;
}
.nav__link span{
    display: flex;
    justify-content: space-around;
    padding:10px;
}

}

.home__button{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(2, 30px);
    gap:10px;
    transition: all .4s ease;
    color:black;
}
.home__button button{
    background-color: rgb(193, 128, 253);
    color:black;
    padding:2px;
    border-radius: 15px;
    font-size: 14px;
}
@media  screen and (max-width:950px) {
    .home__button{
        display: none;
        transition: all .4s ease;
    }
    main{
        width:90%;
        margin:0 auto;
    }
}

/* terms section starts section */
.terms-content{
    margin-block: 30%;
    width:100%;
}
.terms__container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  
    gap:25px;
    overflow: hidden;
    grid-template-rows: subgrid;
}
.terms__items img{
    width:100px;
    height:100px;
}
.terms__items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.terms-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    text-align: center;

}
.subgrid{
    display: subgrid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}




/* shopping cart section strats herer */
.feature{
    width:75%;
    margin:0 auto;
}
.feature__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
}
.feature__items{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    transition: all .4s ease-in;
    z-index: 0;
    backface-visibility: hidden;
}
.button-box button::after,
.button-box button::before{
    content: '';
    width:100%;
    background-color: blueviolet;
   display: flex;
   justify-content: center;
   align-items: center;
    z-index: 1001;
}
.button-box::after{
    content: '';
    width:100%;
    background-color: blueviolet;
    display :flex;
}
.box{
    display: block;
    border:1px solid rgba(0, 0, 0, 0.212);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    transition: all .4s ease;
}
.box-images{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box img{
    width:120px;
    height:130px;

}
.box__title{
    display: block;
    padding:5px;
}
.box__title h4,p{
  font-size: 12px;
}
.best-books{
    width:75%;
    margin:0 auto;
  
    margin-block:20px;
}
.best__books{
    display: flex;
    justify-content: center;
    align-items: center;


}
.best__books img{
   width: 100%;
}
.exam-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exam-prep{
    width:100%;
    
}
.exam-items img{
    width:100%;
    border-radius: 20px;
}


/* ----- authors */

.authors__container{
    width:100%;
    padding:10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}
.authors__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    
}
.authors__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authors__img h3{
    font-size: 14px;
    padding:10px;
}
#title{
    color: #010007;
    
  } 
  #description{
    background-color: #010007;
    font-size: 1rem;
    padding:10px;
  }
  .field p{
    margin-block:10px;
  }
  .align{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
   width:50%;
  }
.control
     {
        display: flex;
        flex-direction:column;
        flex-grow: inherit;
        margin:  none;
        width: 100%;
        font-display:inherit;
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
       
      }

  h1{
    margin: 0.5em auto;
    text-align:center;
    padding: 0 em;

  }
  p {
    margin: 0.5em auto;
    text-align:left;
    padding: 0 em;
  }

  #survey-form{
    margin:10%;

  }
form {
    
    margin-top:25px;
    padding-block: 2.5rem;
    border-radius: 0.5rem;
    border-color: #c5a6a6;
  }
  
  .form-group {
    margin: 0 auto 2rem auto;
    padding: 0.5rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    color: #e8eef5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #a6d8e2;
    outline: 0;
    box-shadow: 0 0 1rem 0.2rem rgba(205, 240, 247, 0.25);
  }
 .field {
    margin: 1 auto;
    max-width: 100%;
    min-width: 300px;
    width: 90vw;
    padding: 0.5rem;
    justify-content: flex-start;
    border-color: #f0e0e0;
    border-radius: 5px;
    grid-row: auto;
   
    box-shadow: #f0e9e9;
  }
 
.label {
    font-size: 18px;
    width: unset;
    margin: 0 0 0;
    vertical-align: middle;
  }
 
  .definetly{
    margin: auto;
    max-width: 100%;
    min-width: 3px;
   

  }
  input,
  select {
    background-color: hsl(240, 15%, 59%);
    border: 1px solid hsl(240, 80%, 6%);
    justify-content: center;
    min-height: 2em;
    color: rgb(12, 12, 12);
    margin: 20px 0 0 0;
    width: 100%;
    outline-color: #df2929;
  }
  
  textarea {
    min-height: 5.5em;
    padding: 0.25rem;
    background-color: hsl(240, 19%, 38%);
    border: 1px solid hsl(0, 0%, 68%);
    min-height: 3em;
    color: rgb(148, 145, 145);
    margin: 10px 0 0 0;
    width: 100%;
    outline-color: #9c9595;
  }
  ::placeholder {
    color:rgb(219, 219, 219);
    font-family: 'Poppins', sans-serif;
  }
  input[type="submit"] {
    display: block;
    width: 30%;
    margin-inline: auto;
    background-color: hsl(251, 75%, 17%);
    min-height: 2rem;
    font-size: 16px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3em;
  }
  input[type="reset"] {
    display: block;
    width: 80%;
    margin-inline: auto;
    background-color: #3d31f1;
    min-height: 2rem;
    font-size: 16px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
  }
  @media (min-width: 768px) {
    body {
     font-size: 1rem;
    }
  }
  @media (min-width: 768px) {
    form {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  #dropdown,
  #favorite-feature {
    font-size: 16px;
  }
  form{
    background-color: #554c862d;
  }
  .form-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #authors-button{
    margin-top:35px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    
  }
  .authors-view{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #authors-button:hover{
    background-color: #010007;
    color:white;
  }
  .details-container{
    width:80%;
    margin:0 auto;
    font-family: "Montagu Slab", system-ui;
    
  }
  .last-details{
    width:100%;
    background-color: #bfb6f37c;
  }
  .user-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }
  #updates{
    background-color: transparent;
    width: 350px;
    
  }
 
  .policy p{
    font-size: 14px;
  }
  .policy h1{
    text-align: left;
    font-size: 16px;
  }
  .social-media i{
    font-size:1.5rem;
  }
  .social-media i:hover{
    transform: translateY(10px);
    transition: all .4s ease;
    color: #3d31f1;

  }
  .info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-block: 15px;

    width:100%;
 
  }
 .info-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    

 }
 .info a{
    color:#251b5ac0;
 }
 .info-one h3{
    padding-block:20px;
 }
 .info-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;

 }
 .info-two h3{
    padding-block:20px;
 }
 .info-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;

 }
 .info-three h3{
    padding-block:20px;
 }
  .footer-last{
    text-align: center;
    padding:20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.185);
  }
#location-form{
    background-color: transparent;
}
#updates::placeholder{
    color:rgb(100, 101, 155);
    font-size: 12px;
    font-style: italic;

}