<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automatic Popup</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="main__container">
    <div class="sub__main">
<div class="heading">
    <h1>Website Design</h1>
</div>
<div class="content">
    <div class="content__item">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum iste, sapiente adipisci deleniti ipsum nam aliquid enim molestiae saepe inventore?</p>
<button type="button" id="add">Add to card</button>
    </div>
    <div class="content__item">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum iste, sapiente adipisci deleniti ipsum nam aliquid enim molestiae saepe inventore?</p>
        <button type="button" id="add">Add to card</button>
            </div>
            <div class="content__item">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum iste, sapiente adipisci deleniti ipsum nam aliquid enim molestiae saepe inventore?</p>
                <button type="button" id="add">Add to card</button>
                    </div>
                    <div class="content__item">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum iste, sapiente adipisci deleniti ipsum nam aliquid enim molestiae saepe inventore?</p>
                        <button type="button" id="add">Add to card</button>
                            </div>
    
</div>
</div>

</div>
<div class="blur__background" id="blur">
    
    <div class="popup">
        <button id="close">&times;</button>
        <h2>This Is The Pop UP</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita distinctio fugiat alias iure qui, commodi minima magni ullam aliquam dignissimos?
        </p>
        <button type="button" onclick="go()"><a href="#">Let's Go</a></button>
    </div>
</div>
    <script src="script.js"></script>
</body>
</html>